<div id="nav-bar-container">
    <h1 id="logo"><a class="logo-link" routerLink="/">Lush</a></h1>
    <div id="button-container"><button class="button-50" role="button"><a class="nav-buttons" routerLink="/destinations">Destinations</a></button>
    <button class="button-50" role="button"><a class="nav-buttons" routerLink="/flights">Flights</a></button>
    <button class="button-50" role="button"><a class="nav-buttons" routerLink="/hotels">Hotels</a></button>
    <button class="button-50" role="button"><a class="nav-buttons" routerLink="/about-us">About Us</a> </button>
</div>

    
</div>
