<app-nav-bar></app-nav-bar>
<div class="bg"></div>

<div id="flight-container">
    <div id="passenger-details">
        <!-- Trip Type -->
        <select id="trip-type">
            <option value="one-way">One-Way</option>
            <option value="round-trip">Round Trip</option>
        </select>
        <select id="passengers">
            <option value="adults">Adults</option>
            <option value="children">Children</option>
            <option value="infant-1">Infants (in seats)</option>
            <option value="infant-2">Infants (in laps)</option>
        </select>
        <select id="seat-type">
            <option value="economy">Economy</option>
            <option value="premium-economy">Premium Economy</option>
            <option value="business">Business</option>
            <option value="first">First</option>
        </select>
    </div>
    <div id="flight-details">
        <input type="text" placeholder="Home Airport">
        <input type="text" placeholder="Destination Airport">
        <input type="date" name="" id="">
        <input type="date" name="" id="">
    </div>

</div>
