<app-nav-bar></app-nav-bar>
<div class="bg"></div>

<div id="flight-container">
    <div id="passenger-details">
        <!-- Trip Type -->
        <select id="trip-type">
            <option value="one-way">One-Way</option>
            <option value="round-trip">Round Trip</option>
        </select>
        <select id="passengers">
            <option value="adults">Adults</option>
            <option value="children">Children</option>
            <option value="infant-1">Infants (in seats)</option>
            <option value="infant-2">Infants (in laps)</option>
        </select>
        <select id="seat-type">
            <option value="economy">Economy</option>
            <option value="premium-economy">Premium Economy</option>
            <option value="business">Business</option>
            <option value="first">First</option>
        </select>
    </div>
    <div id="flight-details">
        <input type="text" placeholder="Home Airport">
        <input type="text" placeholder="Destination Airport">
        <input type="date" name="" id="">
        <input type="date" name="" id="">
    </div>
    <button class="button-50">Go</button>
    <div class="flight-container">
        <div class="flight-card">
            <div class="">
            <img src="assets/ect/plane-clipart.jpg" alt="plane" class="flight-clipart">
            </div>
                <div class="flight-details">
                    <div class="flight-info"> 
                        <h3>Time of Day</h3>
                        <h3>Airline</h3>
                    </div>
                    <div class="flight-info">
                        <h4>Hours to destination</h4>
                        <h4>Airport Codes</h4> 
                    </div>
                    <div class="flight-info">
                        <h4>Number of Stops</h4>
                        <h4>Layover time</h4>
                    </div> 
            </div>
            <div class="price">
               <h4 style="font-size: 14pt; font-family: 'Oleo Script', cursive; -webkit-text-stroke-width: .5px;
               -webkit-text-stroke-color: black;">$100</h4>
                <h4>Type of trip</h4> 
            </div>
</div>

    
<div class="flight-card">
    <div class="">
    <img src="assets/ect/plane-clipart.jpg" alt="plane" class="flight-clipart">
    </div>
        <div class="flight-details">
            <div class="flight-info"> 
                <h3>Time of Day</h3>
                <h3>Airline</h3>
            </div>
            <div class="flight-info">
                <h4>Hours to destination</h4>
                <h4>Airport Codes</h4> 
            </div>
            <div class="flight-info">
                <h4>Number of Stops</h4>
                <h4>Layover time</h4>
            </div> 
    </div>
    <div class="price">
       <h4 style="font-size: 14pt; font-family: 'Oleo Script', cursive; color: #DC9FA1; -webkit-text-stroke-width: .5px;
       -webkit-text-stroke-color: black;">$100</h4>
        <h4>Type of trip</h4> 
    </div>
</div>
<div class="flight-card">
    <div class="">
    <img src="assets/ect/plane-clipart.jpg" alt="plane" class="flight-clipart">
    </div>
        <div class="flight-details">
            <div class="flight-info"> 
                <h3>Time of Day</h3>
                <h3>Airline</h3>
            </div>
            <div class="flight-info">
                <h4>Hours to destination</h4>
                <h4>Airport Codes</h4> 
            </div>
            <div class="flight-info">
                <h4>Number of Stops</h4>
                <h4>Layover time</h4>
            </div> 
    </div>
    <div class="price">
       <h4 style="font-size: 14pt; font-family: 'Oleo Script', cursive; color: #DC9FA1; -webkit-text-stroke-width: .5px;
       -webkit-text-stroke-color: black;">$100</h4>
        <h4>Type of trip</h4> 
    </div>
</div>
    
</div>
            
    

</div>
