<app-nav-bar></app-nav-bar>
<div class="bg"></div>
 
<div class="intro">
    <img src="assets/icons/leaves.png" alt="">
 <h1>Welcome to Lush Travel!</h1>
</div>

<div class="blurb">
    <div><img src="assets/icons/coconut-water.png" alt="" style="margin: 30px;"></div>
    <div><p>We are a travel agency that specializes in providing exclusive deals on tropical destinations. Our team of travel experts are here to help you have the vacation of a lifetime, without breaking the bank. We understand that many people are traveling on a budget and want to provide a service that is both reliable and affordable.</p></div>
</div>
<div class="blurb1">
   <div><p>At Lush Travel, we strive to provide you with the highest level of security, while also offering modern and convenient booking options. We have invested in the latest technology to make sure your booking experience is smooth and hassle-free. Our team of experts is always on hand to answer any questions or concerns you may have.</p></div> 
    <div><img src="assets/icons/parrot.png" alt="" style="margin: 30px;"></div>
</div>
<div class="blurb2">
    <div><img src="assets/icons/palm-tree.png" alt="" style="margin: 30px;"></div>
    <div><p>
    Whether you are looking for a relaxing getaway or an action-packed adventure, our team is here to help you find the perfect destination for your budget. With our expertise and commitment to providing the best deals, you can rest assured that you will find the perfect vacation package in no time.
</p></div></div>
<div class="blurb3">
    <div><h1>Thank you for choosing Lush Travel! We look forward to helping you make your tropical vacation dreams come true.</h1></div>
    <div><img src="assets/icons/tropical-fish.png" alt="" ></div>
</div>
