<app-nav-bar></app-nav-bar>
<div class="bg"></div>

<div class="hotel-contaienr">
    <h1 class="location">Pick your stay</h1>
    <div id="hotel-details">
        
        <input type="date" name="" id="">
        <input type="date" name="" id="">
        <select id="num-of-guests">
            <option value="one">1 guest</option>
            <option value="two">2 guests</option>
            <option value="three">3 guests</option>
            <option value="four">4 guests</option>
        </select>
        <button class="button-50">Go</button>
        
    </div>
    
    <div class="hotel-container">
        <div class="hotel-card">
            <div class="">
            <img src="assets/ect/hotels.png" alt="" class="hotel-clipart">
            </div>
                <div class="hotel-details">
                    <h3>SeaSide Hotel</h3>
                    <h3>Mykonos, Greece</h3>
                    <h4 class="rating">⭐⭐⭐⭐⭐</h4>
                    <h4>All-inclusive</h4>
                    <h4>Adults Only</h4>
            </div>  
        </div>
        <div class="hotel-card">
            <div class="">
            <img src="assets/ect/hotels.png" alt="" class="hotel-clipart">
            </div>
                <div class="hotel-details">
                    <h3>Extra Stars Resort</h3>
                    <h3>Bora Bora</h3>
                    <h4 class="rating">⭐⭐⭐⭐</h4>
                    <h4>Beach front rooms available</h4>
                    <h4>State of the art gym</h4>
            </div>  
        </div>
        <div class="hotel-card">
            <div class="">
            <img src="assets/ect/hotels.png" alt="" class="hotel-clipart">
            </div>
                <div class="hotel-details">
                    <h3>White Sands Resort</h3>
                    <h3>Tahiti</h3>
                    <h4 class="rating">⭐⭐⭐</h4>
                    <h4>Three 5 star restaurants on property</h4>
                    <h4>All-inclusive</h4>
            </div>  
        </div>

    </div>

</div>
