
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<h1 id="logo">Lush</h1>
<div class="content">
  <div id="main-container">
    <h1 id="main-header">Your fantasy vacation is right arround the corner</h1>
    <h2 id="subheader">With exclusive hotel deals, <br>you can enjoy the beauty of a tropical get away without breaking the bank.</h2>
    <button class="button-50" role="button"><a routerLink="/destinations" >Explore Destinations</a> </button>
</div>
<div class="reviews">
      <h3>"This was the best vacation I've ever planned! Thanks for the help!" -Derek J.</h3>
    
    <h3>"I'm really glad I found you guys. Our honeymoon was amazing!" -Alanna M.</h3>
    
     <h3>"We never get to take a trip, but these prices are amazing!" -Rick G.</h3>
   
</div>
</div>


