<app-nav-bar></app-nav-bar>
<div class="bg"></div>
<div class="destination-container">
    <div class="destination-card">
        <h2>Crete, Greece</h2>
       <img class="destination-profile" src="assets/destnation profiles/crete-profile.jpg" alt="Crete, Greece">
       <h3>$3,524</h3>
       <h4>Crete is the largest of all the Greek Islands, and is known for its stunning beaches, picturesque villages, 
           and ancient ruins. With its vibrant nightlife, delicious cuisine, and beautiful scenery, Crete is a popular destination for travelers 
           from all over the world.</h4>
    </div>
    <div class="destination-card">
        <h2>Mykonos, Greece</h2>
       <img class="destination-profile" src="assets/destnation profiles/mykonos-profile.jpg" alt="Mykonos, Greece">
       <h3>$2,354</h3>
       <h4>Mykonos is a popular Greek island located in the Aegean Sea. Known for its vibrant nightlife, beautiful beaches, and iconic windmills.
           Visitors to Mykonos can explore the island's stunning coastline, sample delicious 
           local cuisine, and enjoy a variety of water sports.</h4>
    </div>
    <div class="destination-card">
        <h2>Bora Bora, French Polynesia</h2>
       <img class="destination-profile" src="assets/destnation profiles/bora-bora-profile.jpg" alt="bora bora">
       <h3>$3,854</h3>
       <h4>Bora Bora is a small South Pacific island in French Polynesia known for its luxury resorts and its stunningly beautiful lagoon and beaches. 
           The island is situated in a spectacular turquoise lagoon surrounded by lush green mountains and coral reefs. .</h4>
    </div>
    <div class="destination-card">
        <h2>Tahiti, French Polynesia</h2>
       <img class="destination-profile" src="assets/destnation profiles/tahiti-profile.jpg" alt="tahiti">
       <h3>$2,325</h3>
       <h4>Tahiti is an island in French Polynesia, located in the South Pacific Ocean. The island is renowned for its stunning natural beauty, including palm-fringed beaches, 
           lagoons, and rugged mountains. It is also a popular tourist destination, with a wide range of activities.</h4>
    </div>
    <div class="destination-card">
        <h2>Roatán, Honduras</h2>
       <img class="destination-profile" src="assets/destnation profiles/roatan-profile.jpg" alt="roatan">
       <h3>$2,034</h3>
       <h4>Roatan is a Caribbean island off the coast of Honduras. It is known for its pristine beaches, lush rainforest, and diverse marine life. It is a 
           popular destination for diving and snorkeling, as well as eco-tourism activities. There is something for everyone on this beautiful island!</h4>
    </div>
</div>
